<h1>Data Binding</h1>
<!--Event binding-->
<button (click)="toggleHideButton()">Show button</button>
<!--Property binding-->
<button [hidden]="buttonHidden" (click)="changeText()">Change Text</button>
<!--
    2-way binding:
    When data in the model changes, the view reflects the change.
    When data in the view changes, the model is updated as well.
-->
<br/><label for="name">Username:</label>
<br/><input type="text" name="name" [(ngModel)]="username">
<!--String interpolation-->
<p>Hello, {{ username }}</p>
<!-- Pipes https://angular.io/guide/pipes -->
<p>Hello, {{ username | uppercase }}</p>
<p>Hello, {{ username | slice:2:4 }}</p>
<!-- Number pipe: First # represents min integer digits. 
    Last two are range of the # of decimal digits -->
<p>{{ 4.323 | number:'1.1-2' }}</p>
<p>{{ 4.323 | number:'1.2-3' }}</p>
<p>{{ 4.323 | number:'2.4-5' }}</p>