.box {
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-color: black;
}

/* Demonstrate @extend from Sass */
.base-class {
    color: rgb(67, 126, 185);
    border-color: rgb(67, 126, 185);
}

/* Modify Bootstrap */
.btn-primary {
    @extend .base-class;
    background-color: darksalmon;
}